/*global-css*/
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  /*resume-css*/
.container{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 11px -9px 28px 15px rgba(0,0,0,0.51);
    background-color: rgba(240,255,241);
}

h2{
    padding: 3px;
}

p {
    line-height: 1.5em;
}
ul {
    padding-left: 20px;
}

li {
    line-height: 1.5em;
}


header{
font-style: normal;
}

hr{
    background-color: cornflowerblue;
    border: 1px solid gray;
    padding-bottom: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}

span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section{
    padding-top: 8px;
}

article{
    padding-top: 8px;
}


/*skills-style*/

table {
    width: 100%; 
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}